.set-overflow-y{
  overflow-y: auto !important;
}

.app-content-main{
  height: calc(100vh - 56px);
  overflow-y: auto;
}

.card-width{
  width: 100%;
}
.cursor-pointer{
  cursor: pointer;
}

.text-decoration-none{
  text-decoration: none;
}

.float-right{
  float: right;
}

.card-width{
  width: 100%;
}

.card-title-font{
  font-size: 25px;
  font-weight: bold;
}